.container{
    background-color: aquamarine;
    padding: 10px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 1fr 1fr ; */
    grid-template-rows: repeat(6,1fr);
    row-gap: 2px;
    column-gap: .5rem;
}
.item{
    background-color: blue;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    background-color: rgb(42, 136, 165);
    grid-column-start: 1;
    grid-column-end: 4;
}
.item2{
    background-color: rgb(153, 165, 42);
    height:100%;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;

}
.item3{
    background-color: rgb(42, 120, 165);
}
.item4{
    background-color: brown;
}
.item5{
    background-color: rgb(165, 42, 136);
      grid-row-start: 3;
    grid-row-end: 5;
    height: 100%;
   
}
.item6{
    background-color: chartreuse;
      grid-row-start: 3;
    grid-row-end: 5;
    height: 100%;
}
.item7{
    background-color: darkgray;
}
.item8{
    background-color: deeppink;
    grid-column-start: 1;
    grid-column-end: 4;
    
}