.container{
    background-color: rgb(32, 137, 228);
    height: 900px;
    width:100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: start; */
    /* align-items: start; */
    align-items: center;
    /* align-items: end; */
    gap: 20px;
    flex-wrap: wrap;
    
}
.child{
    height: 200px;
    width: 600px;
    /* background-color: rgb(43, 226, 137); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-one{
    background-color: rgb(255, 21, 0);
}
.child-two{
    background-color: rgb(0, 255, 42);
}.child-three{
    background-color: rgb(231, 241, 28);
}.child-four{
    background-color: rgb(163, 11, 206);
}
.child-img{
    height: 100%;
    width: 100%;
}