body{
    animation: bodyname 20s ease-in 1s infinite normal;
}
.animation-div{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: myname2;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.heading{
    animation-name: myname;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myname{
    from{background-color: aquamarine; transform: translate(50px);transform: scale(3);transform: rotate(45deg); color: darkgray;}
    to{background-color: chartreuse;color: blue;transform: translatey(70px);}
}

@keyframes myname2{
    0%{background-color: coral;transform: scale(0.5); border-radius: 50%; }
    50%{transform: translate(300px); background-color: cyan;}
    100%{background-color: darkgreen; transform: rotate(45deg);}
}
@keyframes bodyname{
    0%{background-color: azure;}
    10%{background-color: rgb(35, 169, 169);}
    50%{background-color: azure;}
    70%{background-color: rgb(242, 240, 255);}
    80%{background-color: linear-gradient(to left,#654,#cf3,rgb(218, 255, 204))}
    90%{background-color: azure;}
    


}