.box{
      width: 100px;
  height: 100px;
  background-color: red;
  transition: width  5000ms ease 10ms;
}
.box2{
      width: 100px;
  height: 100px;
  background-color: rgb(200, 255, 0);
  transition: width  5000ms ease-in 10ms;
}
.box3{
      width: 100px;
  height: 100px;
  background-color: rgb(17, 0, 255);
  transition: width  5000ms ease-in-out 10ms;
}
.box4{
      width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 195);
  /* transition: background-color 5000ms ease-in-out , width 5000ms ease-in-out 10ms,border-radius 1s ease,transform 10s steps(5); */
  transition:background-color 5000ms ease-in-out, transform 10s steps(5),border-radius 1s ease;

}

div:hover {
    width: 400px;
    
}

.box4:hover{
    /* width: 200px; */
    background-color: cornflowerblue;
    border-radius: 50%;
    transform: translate(300px);

}

