body{
    background-color: rgb(23, 137, 137);
}

.child{
    height: 130px;
    width: 130px;
    margin-top: 10px;
    border: 2px solid black;

}

.child1{
    background-color: rgb(237, 103, 13);
    position: relative;
    top: 300px;
    left: 400px;
    z-index: -3;
}
.child2{
    background-color: rgb(12, 180, 93);
    position: absolute;
    top: 200px;
    left:300px;
    z-index: 0;
}
.child3{
    background-color: rgb(152, 36, 175);
    position: fixed;
    top: 200px;
    left:400px;
}
.child4{
    background-color: rgb(252, 255, 240);
    position: static;
    top:600px
}