.responsive{
    height: 100%;
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
}
.child{
    height: 200px;
    width: 200px;
    
}


@media (min-width:993px){
    body{
        background-color: yellow;
    }
    .responsive{
        width: 100%;
        padding: 10px;
        /* background-image: url("../image/clay-banks-fZHP8uq6WhQ-unsplash.jpg"); */
            display: flex;
            justify-content: center;
    }
    .first{

    background-color: rgb(128, 96, 0);
    
}
.second{
    background-color: black;
}
.third{
    background-color: rgb(18, 178, 186);
}
.fourth{
    background-color: rgb(21, 213, 14);
}
}

@media (max-width:600px){
    body{
        background-color: blue;
        display: flex;
        justify-content: center;
    }
     .responsive{
        width: 100vw;
        padding: 10px;
     background-color: yellow;
      display: flex;
            justify-content: center;
            flex-direction: column;

    }
    .child{
    height: 100px;
    width: 100%;
    
}
 .first{

    background-color: rgb(128, 96, 0);
    
}
.second{
    background-color: black;
}
.third{
    background-color: rgb(18, 178, 186);
}
.fourth{
    background-color: rgb(21, 213, 14);
}

}
@media(min-width:601px) and (max-width:992px){
    body{
        background-color: red;
    }
     .responsive{
        width: 70%;
        padding: 10px;
     background-color: rgb(0, 255, 170);

    }
}